* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f6f3f3;
}

a {
  text-decoration: none;
}

/*------------------------------ Outer Container --------------------------------- */
.app {
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------------------ Chat Container ------------------------------- */
.main-container {
  background-color: aliceblue;
  height: 98vh;
  width: 98vw;
  border-radius: 20px;
  display: flex;
  padding: 5px;
}

/*--------------------------------- Side Bar ---------------------------------- */
.side-bar-container {
  flex: 0.3;
  display: flex;
  flex-direction: column;
}

.side-bar-box {
  background-color: #fff;
  padding: 10px 7px;
  border-radius: 30px;
  margin: 5px;
}
.search-box{
    display: flex;
    align-items: center;
}
.search-box input{
    outline-width: 0;
    flex: 1;
    border: none;
    margin-left: 10px;
    font-size: 1.1rem;
}
.quickmenus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.conversations{
    flex: 1;
}
/*--------------------------------- Chat Box ---------------------------------- */
.chat-container {
  background-color: blue;
  flex: 0.7;
}
